extends ../layout

block content
  h1= title
  h2 Welcome to #{title}
  p= msg

  ul
    for cerveja in cervejas
      li
        a(href='/beers/show/#{cerveja._id}')
          | #{cerveja.name} - #{cerveja.category}

