extends ../layout

block content
  h1= title
  h2 Welcome to #{title}
  p= msg

  p.show
    span
      | Name: #{cerveja.name}
    span
      | Category: #{cerveja.category}
    span
      | Price: #{cerveja.price}
    span
      | Alcohol: #{cerveja.alcohol}
    span
      | Description: #{cerveja.description}
    a.btn(href='/beers/save/#{cerveja._id}') ALTERAR

